.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .lInput{
    height: 30px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: lightgray;
    cursor: not-allowed;
  }

  .pageTitle{
    font-size: 40px;
    font-weight: bold;
    
  }

  .welcomeMessage{
    margin-top: 10px;
    color: gray;
    font-weight: 500;
  }