.navbar{
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #171717;
}

.navbarContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 700;
    cursor: pointer;

}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #171717;
}